<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>

      <h1>Welcome to the Recipe App</h1>


      <h3>Please click on one of the following links:<h3>

        <p><ul>
          <li><a href="/recipes">All recipes</a></li>
          <li><a href="/recipes/new">Add new recipe</a></li>
          <!-- <li><a></a></li> -->
        </ul></p>

    </body>
  </html>
