<form method="post" action="/recipes" >
  <div>
    <label for="name">Recipe Name:</label>
    <input type="text" name="name" id="name" />
  </div>
  <div>
    <label for="ingredients">Ingredients:</label>
    <input type="text" name="ingredients" id="ingredients" />
  </div>
  <div>
    <label for="cook_time">Cook Time (minutes):</label>
    <input type="number" name="cook_time" id="cook_time" />
  </div>
  <input type="submit" id="submit">
</form>