<form action="/recipes" method="post">
  <b>name</b>
  <input type="text" name="name" value="">
  <b>ingredients</b>
  <input type="text" name="ingredients" value="">
  <b>cook time</b>
  <input type="text" name="cook_time" value="">
  <input type="submit" value="Submit">
</form>
