<form action="/recipes" method="post">
  <ul>
    <li>
      <label for="recipe">Name</label>
      <input id="title" type="text" name="name" />
    </li>
    <li>
      <label for="ingredients">Content</label>
      <input id="ingredients" type="text" name="ingredients" />
    </li>
    <li>
      <label for="cook_time">Cook_time</label>
      <input id="cook_time" type="text" name="cook_time" />
    </li>
  </ul>
  <input type="submit" />
</form>
